# Build output
_temp/
_build/
_bin/

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.so
*.dylib
*.dll
*.a
*.lib
*.la
*.lai

# Executables
*.exe
*.out
*.app
*.elf

# Visual Studio
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb

# OS
Thumbs.db
.DS_Store
